.lay-img {
    display: block;
    margin: auto;
}

.test-body {
    background-color: #000;
}

* {
  box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background: gray;
}

h1, h2, h3, h4, h5, h6, span, p {
    cursor: default;
}

a {

    text-decoration: none;

    &:hover, &:active, &:focus, &:visited {
        text-decoration: none
    }

}

.hidden {
    display: none;
}

.content-wrap {
    background-color: #000;
    height: 100px;
    position: relative;
    height: auto;
    padding-right: 130px;
    padding-left: 0;
}

.no-lr-padding {
    padding-right: 0;
    padding-left: 0;
}

.no-lr-margin {
    margin-right: 0;
    margin-left: 0;
}
